<!DOCTYPE html>
<html lang="en">
    <head>
            <meta charset="utf-8" />
            <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

            <title>{% block title %}{% endblock title %} - MultiPlayer Snake</title>
            <meta property="og:url" content="https://mps.estada.ch" />
            <meta property="og:title" content="MultiPlayer Snake - mps.estada.ch" />
            <meta property="og:site_name" content="Play Snake together" />
            <meta property="og:description" content="Play Snake together" />
            <meta property="og:image" content="/static/favicon.png" />
            <meta property="og:locale" content="en_CH" />

            <link rel="icon" href="/static/favicon.png" type="image/png" />
            <!-- Chrome, Firefox OS, Opera and Vivaldi -->
            <meta name="theme-color" content="#ff2727">
            <!-- Windows Phone -->
            <meta name="msapplication-navbutton-color" content="#ff2727">
            <!-- iOS Safari -->
            <meta name="apple-mobile-web-app-status-bar-style" content="#ff2727">
            <meta name="msapplication-TileColor" content="#ff2727">

            <link href="/static/reset.css" rel="stylesheet" />
            <link href="/static/style.css" rel="stylesheet" />
            <link href="/static/brand-colors.css" rel="stylesheet" />

            <meta name="monetization" content="$ilp.uphold.com/3mZJdzxniURN">
    </head>
    <body>
        {% block modal %}{% endblock %}
        <header>
            {% block header %}{% endblock %}
        </header>
        <section class="main {{ pageclass }}">
            {% block body %}{% endblock %}
        </section>
    </body>
</html>
