{% extends "base_full.html" %}

{% block title %}Get your Happy Ferris Sticker{% endblock title %}

{% block body %}
<h1>Get your Happy Ferris Sticker</h1>
        
<ol>
    <li><a href="https://rc3.world/2021/me/manage_badges" target="_blank">Open your rC3 Profile</a><br><br></li>
    <li>Scroll to "TOKEN EINLÖSEN"<br><br></li>
    <li>use the Token: <highlight>hgw3Wyf6RzmQzN4EasJnYL43cv2hn8cFXsrsEa48fsA5Dzm2sm</highlight><br><br></li>
    <li>After submitting, change the visibility to public if you like</li>
</ol>
{% endblock %}
